---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import Table from '../components/Table.astro';
---
<Layout title="Welcome to Astro.">
	<Navbar></Navbar>
	
	<Table></Table>

</Layout>

<style>

</style>
