---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Table from '../components/Table.astro';
import Paginator from '../components/Paginator.astro';
---
<Layout title="Welcome to Astro.">
	<Navbar></Navbar>	
	<Table></Table>
	<Paginator></Paginator>
</Layout>

