---

---
<nav class="container-fluid">
    <ul>
      <li><strong>ElectroShops</strong></li>
    </ul>
    <ul>
      <input type="search" id="search" name="search" placeholder="Search">
      <li><a href="#">About</a></li>
      <li><a href="#" role="button">Button</a></li>
    </ul>
</nav>
<style>
    nav {
        backdrop-filter: saturate(180%) blur(20px);
        //background-color: var(--nav-background-color);
        box-shadow: 0 1px 0 var(--contrast-focus);
    }
    input:not([type=checkbox],[type=radio]), select, textarea {
    margin-bottom: 0 !important;
    }
</style>